
.podcasts-homepage-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
    height: 40vh;
}

.podcasts-heading {
    color: #ffffff;
    font-family: "roboto";
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
}

.podcast-image {
    width: 144px;
    height: 112px;
    margin-top: 10px;
}

.podcast-name {
    font-size: 20px;
    color: #151765;
    margin-top: 5px;
    font-weight: bold;
    font-family: "roboto";
}

.episodes-count {
    color: #5a7184;
    font-family: "roboto";
    font-size: 16px;
}

.details-card {
    margin: 10px;
    text-align: center;
}

.podcasts-cards-container {
    padding: 20px;

}

.podcasts-header {
    background-color: #151765;
    padding: 20px;
    height: 170px;
    margin: 8px;
}

.podcast-text-container {
    padding: 10px;
}

.category {
    color: #ffffff;
    font-family: "roboto";
    font-size: 12px;
}

.podcast-title {
    color: #ffffff;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 600;
}

.podcast-caption {
    color: #ffffff;
    font-family: "roboto";
    font-size: 12px;
}

.podcast-member {
    background-color: #ffffff;
    margin: 0px;
    padding: 9px;
}

.list-header {
    color: #151765;
    font-weight: bold;
    font-size: 15px;
    font-family: "roboto";
}

.list-title {
    color: #5a7184;
    font-family: "roboto";
    font-size: 12px;
}

.podcast-jagan {
    width: 144px;
    height: 112px;
    margin-top: 10px;
}

.button {
    color: white;
    background-color: #151765;
    border-width: 0px;
    width: 80px;
    border-radius: 12px;
}